.card-container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    color: white;
    height: 100%;
}


.card-btn{
    width: 100%;
    margin: 10% .5vw;
    font-size: 0.8rem;
    line-height: 1;
    border: none;
    border: 3px solid rgb(0, 0, 0);
    transition: border 4s;
    min-width: 25vw;
    height: 5vh;
}

.card-btn:hover{
    cursor: pointer; 
    transform: scale(1.1);
    border: 3px solid rgb(1, 0, 0);
}

.card-btn:focus{
    
    box-shadow: 0 0 12px black;
    
    
}

.btn-grid{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;
}

/* InfoModal css */
.modal-test{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    background-color: rgb(255, 255, 255);
    min-width: 60%;
    z-index: 2;
}
.modal-edit{
    position: absolute;
    top: 15%;
    left: 10%;
    right: 15%;
    margin: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    background-color: rgb(232, 228, 236);
    min-width: 60%;
    z-index: 2;
    max-height: 80%;
    overflow-y: scroll;
}
.modal-click-box{
    position: relative;
    top: -25vh;
    left: -35vw;
    background: black;
    width: 100%;
    display: block;
    height: 100%;
    min-height: 100vh;
    z-index: 2;
}

.modal-header{
    display: flex;
    width: 100%;
    background-color: none;
    min-height: 5vh;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding: 1rem 2rem;
}
.edit-header{
    display: flex;
    width: 100%;
    height: 3vh;
    background-color: none;
    padding: 1rem;
    justify-content: flex-end;
    
}
.modal-exit{
    margin-right: 2vw;
    height: 2vh;
    width: 1vw;
    background: none;
    border: none;
}

.exit-icon{
    font-size: 2rem;
    margin-right: 2rem;
    color: black;
}
.exit-icon:hover{
    cursor: pointer;
    color: red;
}
.item-container{
    top: -5vh;
}
.item-name{
    position: relative;
    text-align: center;
}

.modal-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}


.info-img{
    height: 30vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1vh;
}

.item-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    word-wrap: break-word;
    background-color: rgb(146, 44, 44);
    width: 60%;
    margin: 3vh auto;
    border-radius: 10px;
    margin-bottom: 5vh;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 3rem;
}
.item-desc h3{
    padding: 1rem 0;
    border-bottom: 3px solid black;
}
.item-container h1{
    color: black;
    padding: 1rem 0rem
}
.item-desc2{
    width: 80%;
    text-align: left;
}

.item-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 60%;
    margin: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(146, 44, 44);
    font-weight: 700;
    border-radius: 10px;
}
item-table-body{
    border-radius: 10px;
    max-width: 100%;
}
.item-table h5{
    color: rgb(255, 255, 255);
    padding: 1rem 0 1rem 1rem;
    font-size: 1.5rem;
}
.item-table tr th {
    background-color: rgb(146, 44, 44);
    color: white;
    border-right: 1px solid black;
}
.item-table tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-table th{
    width: 50%;
}
.item-table td{
    width: 50%;
    font-size: 1.2rem;
    padding: 0 2%;
    margin: 0 2%;
}
.card-h1{
    font-size: 1.5rem;
    padding: 3%;
}
.slider-container{
    display: inline-flex;
    width: 100%;
    height: 1200px;
    justify-content: center;
}
.right-arrow{
    display: inline-flex;
    align-items: center;
  }
.left-arrow{
    display: inline-flex;
    align-items: center;
}
.image-slider{
    display: inline-flex;
    width: 80%;
    margin: 0px auto;
}
.slide-image{
    background-position: 50% 50%;
    width: 100%;
    height: 100%
}
.slider-container img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 3%;
    max-height: 590px;
}
@media(max-width:600px){
    .item-table{
        width: 100%;
    }
    .item-desc{
        width: 100%;
    }
    .modal-test{
        width: 100%;
    }
}
@media (min-width: 600px) {
    .image-slider{
        width: 80%;
        height: auto;
        margin: 0px auto;
    }
    .card-btn{
        margin: 15% 1vw;
        min-width: 25vw;
    }
    .card-btn{
        font-size: 1rem;
    }
}
@media(min-width:850px){
    .slider-contianer img{
        max-height: 300px;
    }
}
@media (min-width:1200px) {
    .card-btn{
        min-width: 10vw;
        font-size: 1.2rem;
        padding: 0;
    }
    .image-slider{
        width: 80%;
        height: auto;
        margin: 0px auto;
      }
      .slider-container img{
        min-height: 35vh;
      }
    .info-img{
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-bottom: 1vh;
        max-height: 500px;
    }
    .item-desc{
        font-size: 25px;
    }
    .item-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 60%;
    margin: auto;
}
.exit-icon{
    font-size: 3rem;
}
    
}

