.cart-card-container{
    display: flex;
    background: rgb(176, 188, 255);
    width: 95%;
    margin: auto;
    margin-top: 1vh;
    text-align: left;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    
}
.cart-card-img{
    width: 80%;
    padding: 2%;
    margin: 0;
}
.cart-card-img img{
    width: 100%;
}

.card-text{
   white-space: nowrap;
    width: 100%;
    text-align: left;
    position: relative;
}
.card-text h3{
    padding: 5% 0;
    font-size: 1rem;
    color: white;
}
.bottom-card {
    position: absolute;
    bottom: 0;
    display: inline-flex;
    align-items: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1vh;
}
.qty-selector{
    margin: 0 0 7vh 0
}
.qty-selector input{
    width: 20%;
    text-align: center;
    margin: 3%;
}
.remove-button button{
    position: absolute;
    bottom: 0;
    right: 25%;
    padding: 2% 5%;
    background-color: rgb(209, 50, 50);
    color: white;
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
}
.remove-button button:hover{
    box-shadow: 0 0 8px black;
}
.delete-icon{
    margin-right: 1vw;
    margin-bottom: 0.5vh;
}
@media(min-width:800px){
    .qty-selector{
        margin: 0 0 2vh 0
    }
    .remove-button{
        right: 2%;
        padding: 5%;
    }
}