.contact-modal{
    position: absolute;
    top: 15%;
    left: 10%;
    right: 15%;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    background-color: rgb(232, 228, 236);
    z-index: 10;
    min-width: 60%;
}

.contact-box{
    background: white;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
    background: rgb(191, 149, 203);
    color: white;
}
.contact-left input{
    width: 100%;
    margin-left: 0.5vw;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    outline: none;
}
.contact-right{
    flex-basis: 60%;
    padding: 40px;
    background: rgb(124, 79, 169);
    text-align: left;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;

}

.contact-left textarea{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

.exit-icon2{
    position: absolute;
    font-size: 44px;
    right: 0;
}
.exit-icon2:hover{
    cursor: pointer;
    color: red;
}
.contact-info{
    display: flex;
    align-items: center;
}
.contact-info2{
    display: inline-flex;
    font-size: 3rem;
    color: white;

}

.contact-info3{
    font-size: 1.4rem;
    display: inline-flex;
    margin-left: 0.2vw;
}
.bottom-icons{
    display: inline-block;
    font-size: 2rem;
    margin-top: 1.5vh;
}
.contact-icons{
    display: inline-block;
    margin-right: 1vw;
}

.contact-icons:hover{
    color: white;
}
.modal-background{
    position: absolute;
    margin: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.683);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}