.App {
  text-align: center;
  background: rgb(90, 91, 92);
  background-size: 100%;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
}
.bod-container{
  position: relative;
  top: 0;
  display: grid;
  
  width: 100%;
  padding: 1%;
  height: 100%;
}

.bod-spacer{
  grid-template-columns: 100%;
  padding: 1% 10%;
  display: grid;
   row-gap: 5vh;
   column-gap: 5vh;
   margin: 8vh auto;

   
}
@media (min-width:1200px) {
  .bod-spacer{
    grid-template-columns: 50% 50% ;
  }
}